In [1]:
import numpy as np
import pandas as pd

In [ ]:
"""Please read this section and post your replies to Questions 4-5-6-7)
Below is a dataset for daily vaccination numbers per country.  Please implement a small program 
that reads the input file and produces the desired outputs for below questions, optimized for 
speed of operation. (Preferred language is Python or C#) 

Please paste the link to the code implementation tasks as answer shared using pastebin, 
github, bitbucket, coderpad.io, dotnetfiddle, jsfiddle, or any other public web-site."""

#Code Implementation Task: Implement code to fill the missing data (impute) in daily_vaccinations
#column per country with the minimum daily vaccination number of relevant countries.  
#Note: If a country does not have any valid vaccination number yet, fill it with “0” (zero). 
#Please  provide the link to your code as answer to this question.

### 1- Code Implementation Task: Implement code to fill the missing data (impute) in daily_vaccinations column per country with the minimum daily vaccination number of relevant countries.  Note: If a country does not have any valid vaccination number yet, fill it with “0” (zero). Please  provide the link to your code as answer to this question.

In [ ]:
df = pd.read_csv("country_vaccination_stats.csv")

In [ ]:
#df.to_excel (r'C:\Users\İREM KOÇ\Desktop\New_Products.xlsx', index = None, header=True)

In [ ]:
min_amounts_country = df.groupby(["country"])["daily_vaccinations"].min()

In [ ]:
dict(min_amounts_country)

In [ ]:
index_nans = df[df["daily_vaccinations"].isnull()].index

index_nans

In [ ]:
for i in index_nans:
    if np.isnan(min_amounts_country[df.iloc[i]["country"]]):
        val =0
        df.fillna(axis = 1, value = val, inplace=True, limit=1)
    else:
        val = min_amounts_country[df.iloc[i]["country"]]
        df.fillna(axis = 1, value = val, inplace=True, limit=1)

In [ ]:
df

In [ ]:
#df.to_excel (r'C:\Users\İREM KOÇ\Desktop\New_Products_first_question.xlsx', index = None, header=True)

### Code Implementation Task: Implement code to list the top-3 countries with highest median daily vaccination numbers by considering missing values imputed version of dataset. Please  provide the link to your code as answer to this question.

In [ ]:
median_country = df.groupby("country")["daily_vaccinations"].median()

In [ ]:
median_country

In [ ]:
median_country.sort_values(ascending=False).head(3)

In [ ]:
list1 = list(median_country.sort_values(ascending=False).head(3).keys())

In [ ]:
list1

### What is the number of total vaccinations done on 1/6/2021 (MM/DD/YYYY) by considering missing values imputed version of dataset? Please  just provide the number as answer.

In [ ]:
df[df["date"]=="1/6/2021"].count()

In [ ]:
"""Assume any database includes below columns and you are requested to process Stats_Access_Link 
column and extract pure url information inside per device type. 

   

What would you use for this task, please write your detailed answer with exact solution? 
Please  provide the link to your code as answer to this question 

Example: for the device type AXO145, we would like to get xcd32112.smart_meter.com regardless 
from its access protocol is SSL secured or not.
"""

In [2]:
dict1 = {"Device_Type":["AXO145","TRU151","ZOD231","YRT326","LWR245"],
         "Stats_Access_Link":["<url>https://xcd32112.smart_meter.com</url>","<url>https://tXh67.dia_meter.com</url>","<url>https://yT5495.smart_meter.com</url>","<url>https://ret323_Tru.crown.com</url>","<url>https://luwr3243.celcius.com</url>"]}

In [3]:
df= pd.DataFrame(dict1)

In [4]:
df

  Device_Type                            Stats_Access_Link
0      AXO145  <url>https://xcd32112.smart_meter.com</url>
1      TRU151       <url>https://tXh67.dia_meter.com</url>
2      ZOD231    <url>https://yT5495.smart_meter.com</url>
3      YRT326      <url>https://ret323_Tru.crown.com</url>
4      LWR245      <url>https://luwr3243.celcius.com</url>

In [6]:
rule_for_xml_tag = 1
rule_for_access-link = 1
for i in df["Stats_Access_Link"]:
    https = i.index("https://")
    com = i.index(".com")
    link_section = i[https+8 : com+4]
    initial_index = i.index("<")
    finish_index = i.index(">")
    value = i[initial_index + 1 : finish_index]
    if value.isupper():
        rule_for_xml_tag -= 1
    print("tag_name: ",value,"\n\nurl: ", i,"\n","\n",rule_for_xml_tag,"\n",link_section)
    if not link_section.isalnum() or "_" in link_section or "." in link_section:

tag_name:  url

url:  <url>https://xcd32112.smart_meter.com</url>

 1
 xcd32112.smart_meter.com
tag_name:  url

url:  <url>https://tXh67.dia_meter.com</url>

 1
 tXh67.dia_meter.com
tag_name:  url

url:  <url>https://yT5495.smart_meter.com</url>

 1
 yT5495.smart_meter.com
tag_name:  url

url:  <url>https://ret323_Tru.crown.com</url>

 1
 ret323_Tru.crown.com
tag_name:  url

url:  <url>https://luwr3243.celcius.com</url>

 1
 luwr3243.celcius.com

 Rules: 
+-   Xml tags and protocol parts is guaranteed to be lower case  
-   Access link part that we are interested in can have alpha-numeric, case insensitive 
characters, underscore ( _ ) character and dot ( . ) character only.