In [52]:
import numpy as np
import pandas as pd

In [53]:
"""Please read this section and post your replies to Questions 4-5-6-7)
Below is a dataset for daily vaccination numbers per country.  Please implement a small program 
that reads the input file and produces the desired outputs for below questions, optimized for 
speed of operation. (Preferred language is Python or C#) 

Please paste the link to the code implementation tasks as answer shared using pastebin, 
github, bitbucket, coderpad.io, dotnetfiddle, jsfiddle, or any other public web-site."""

#Code Implementation Task: Implement code to fill the missing data (impute) in daily_vaccinations
#column per country with the minimum daily vaccination number of relevant countries.  
#Note: If a country does not have any valid vaccination number yet, fill it with “0” (zero). 
#Please  provide the link to your code as answer to this question.

'Please read this section and post your replies to Questions 4-5-6-7)\nBelow is a dataset for daily vaccination numbers per country.  Please implement a small program \nthat reads the input file and produces the desired outputs for below questions, optimized for \nspeed of operation. (Preferred language is Python or C#) \n\nPlease paste the link to the code implementation tasks as answer shared using pastebin, \ngithub, bitbucket, coderpad.io, dotnetfiddle, jsfiddle, or any other public web-site.'

### 1- Code Implementation Task: Implement code to fill the missing data (impute) in daily_vaccinations column per country with the minimum daily vaccination number of relevant countries.  Note: If a country does not have any valid vaccination number yet, fill it with “0” (zero). Please  provide the link to your code as answer to this question.

In [62]:
df = pd.read_csv("country_vaccination_stats.csv")

In [55]:
#df.to_excel (r'C:\Users\İREM KOÇ\Desktop\New_Products.xlsx', index = None, header=True)

In [63]:
min_amounts_country = df.groupby(["country"])["daily_vaccinations"].min()

In [64]:
dict(min_amounts_country)

{'Argentina': 6483.0,
 'Austria': 3368.0,
 'Bahrain': 943.0,
 'Belgium': 1.0,
 'Brazil': 112.0,
 'Bulgaria': 472.0,
 'Canada': 866.0,
 'Chile': 51.0,
 'China': 187500.0,
 'Costa Rica': 240.0,
 'Croatia': 989.0,
 'Cyprus': 534.0,
 'Czechia': 1822.0,
 'Denmark': 1994.0,
 'Ecuador': 108.0,
 'England': 37625.0,
 'Estonia': 309.0,
 'Finland': 459.0,
 'France': 5000.0,
 'Germany': 19721.0,
 'Gibraltar': 520.0,
 'Greece': 549.0,
 'Hungary': 1339.0,
 'Iceland': 63.0,
 'India': 112150.0,
 'Indonesia': 11823.0,
 'Ireland': 550.0,
 'Isle of Man': 90.0,
 'Israel': 6887.0,
 'Italy': 926.0,
 'Kuwait': nan,
 'Latvia': 338.0,
 'Lithuania': 311.0,
 'Luxembourg': 62.0,
 'Malta': 259.0,
 'Mexico': 1300.0,
 'Netherlands': 4000.0,
 'Northern Ireland': 1563.0,
 'Norway': 224.0,
 'Oman': 817.0,
 'Panama': 6.0,
 'Poland': 4300.0,
 'Portugal': 2791.0,
 'Romania': 712.0,
 'Russia': 3357.0,
 'Saudi Arabia': 14153.0,
 'Scotland': 3047.0,
 'Serbia': 1150.0,
 'Seychelles': 500.0,
 'Singapore': 2800.0,
 'Slovakia': 425.0,
 'Slovenia': 1270.0,
 'Spain': 41496.0,
 'Sweden': 3859.0,
 'Switzerland': 3000.0,
 'Turkey': 67192.0,
 'United Arab Emirates': 30698.0,
 'United Kingdom': 46423.0,
 'United States': 57909.0,
 'Wales': 1763.0}

In [65]:
index_nans = df[df["daily_vaccinations"].isnull()].index

index_nans

Int64Index([   0,   28,   48,   77,  103,  113,  141,  184,  217,  254,  280,
             307,  324,  354,  384,  386,  422,  451,  477,  499,  528,  543,
             572,  600,  627,  638,  652,  677,  682,  720,  750,  751,  780,
             812,  838,  866,  899,  916,  959,  988, 1016, 1022, 1050, 1079,
            1108, 1138, 1150, 1193, 1211, 1226, 1238, 1256, 1278, 1300, 1322,
            1352, 1365, 1386, 1422, 1459],
           dtype='int64')

In [66]:
for i in index_nans:
    if np.isnan(min_amounts_country[df.iloc[i]["country"]]):
        val =0
        df.fillna(axis = 1, value = val, inplace=True, limit=1)
    else:
        val = min_amounts_country[df.iloc[i]["country"]]
        df.fillna(axis = 1, value = val, inplace=True, limit=1)

In [67]:
df

,country,date,daily_vaccinations,vaccines
0,Argentina,12/29/2020,6483.0,Sputnik V
1,Argentina,12/30/2020,15656.0,Sputnik V
2,Argentina,12/31/2020,15656.0,Sputnik V
3,Argentina,1/1/2021,11070.0,Sputnik V
4,Argentina,1/2/2021,8776.0,Sputnik V
...,...,...,...,...
1497,Wales,1/20/2021,11105.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1498,Wales,1/21/2021,12318.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1499,Wales,1/22/2021,15148.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1500,Wales,1/23/2021,17371.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1501,Wales,1/24/2021,17063.0,"Oxford/AstraZeneca, Pfizer/BioNTech"

In [68]:
#df.to_excel (r'C:\Users\İREM KOÇ\Desktop\New_Products_first_question.xlsx', index = None, header=True)

### Code Implementation Task: Implement code to list the top-3 countries with highest median daily vaccination numbers by considering missing values imputed version of dataset. Please  provide the link to your code as answer to this question.

In [72]:
median_country = df.groupby("country")["daily_vaccinations"].median()

In [79]:
median_country

country
Argentina                11645.0
Austria                   7850.0
Bahrain                   3662.0
Belgium                   3606.0
Brazil                   17220.0
Bulgaria                  1010.0
Canada                   11044.0
Chile                     1291.0
China                   276786.0
Costa Rica                 675.5
Croatia                   2485.0
Cyprus                     708.0
Czechia                   5378.0
Denmark                   7095.5
Ecuador                    108.0
England                 107310.5
Estonia                   1043.0
Finland                   2035.5
France                   41496.0
Germany                  51184.0
Gibraltar                  713.0
Greece                    5290.0
Hungary                   5464.5
Iceland                     63.0
India                   173922.0
Indonesia                13200.0
Ireland                   6528.0
Isle of Man                138.0
Israel                   92587.0
Italy                    44475.5
Kuwait                       0.0
Latvia                     592.0
Lithuania                 1933.5
Luxembourg                  88.0
Malta                      407.5
Mexico                    5488.0
Netherlands               6762.0
Northern Ireland          2135.0
Norway                    2958.0
Oman                      1192.0
Panama                    1324.0
Poland                   22702.5
Portugal                  5944.0
Romania                  13030.0
Russia                   23563.0
Saudi Arabia             16807.5
Scotland                  5821.0
Serbia                    2920.0
Seychelles                1000.0
Singapore                 4907.0
Slovakia                  5357.0
Slovenia                  2374.0
Spain                    55238.0
Sweden                    5382.5
Switzerland               3000.0
Turkey                  150356.0
United Arab Emirates     86430.0
United Kingdom          120409.0
United States           378253.0
Wales                     2198.0
Name: daily_vaccinations, dtype: float64

In [77]:
median_country.sort_values(ascending=False).head(3)

country
United States    378253.0
China            276786.0
India            173922.0
Name: daily_vaccinations, dtype: float64

In [84]:
list1 = list(median_country.sort_values(ascending=False).head(3).keys())

In [85]:
list1

['United States', 'China', 'India']

### What is the number of total vaccinations done on 1/6/2021 (MM/DD/YYYY) by considering missing values imputed version of dataset? Please  just provide the number as answer.

In [87]:
df[df["date"]=="1/6/2021"].count()

country               48
date                  48
daily_vaccinations    48
vaccines              48
dtype: int64